<div class="w-50 h-full shadow-md bg-white absolute" id="sidenavSecExample">
  <div>
    <p class="font-sans font-semibold">CATEGORIES</p>

    <ul>
      <li *ngFor="let categorie of listCategories">
        <a
          class="font-sans font-medium text-center text-base text-gray-500 ml-4"
          routerLink="categories/{}"
          >{{ categorie.name }}</a
        >
      </li>
    </ul>
  </div>

  <div>
    <p class="font-sans font-semibold">FILTER BY PRICE</p>
    <!-- barra de precio -->
  </div>

  <div>busqueda</div>

  <div>
    <p class="font-sans font-semibold">FEATURED PRODUCTS</p>
    <div>
      <img src="" alt="" />
      <div>Title</div>
      <p>Price</p>
    </div>
  </div>
</div>
